# MongoDB Configuration for Vercel Deployment
MONGODB_URI=mongodb+srv://venkatathrinadh05_db_user:eny5QSaY52ufes1G@marks.kzmlscn.mongodb.net/?appName=marks

# Alternative MongoDB URIs
# VONGODB_URL=mongodb+srv://venkatathrinadh05_db_user:eny5QSaY52ufes1G@marks.kzmlscn.mongodb.net/?appName=marks
# MONGODB_URI=mongodb://localhost:27017/marks_calculator

# Server Configuration
PORT=3000
NODE_ENV=production
